@import "tailwindcss";

@theme {
    --color-cream: #f5f6f2;
    --color-ink: #1f2421;
    --color-sage: #5c7a5e;
    --color-sage-light: #a9c0a2;
    --color-terracotta: #c96f4a;
}

.btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow;
}

/*
body {
    bg-(--color-cream)
}*/
